<section>
	<h2 id="titreTheQcm"></h2>
	<article>
		<h4 id="descTheQcm"></h4>
		<p id="pitiphrase">quand vous êtes prêt</p>
		<input type="button" id="startQcm" value="Let's start" aria-label="commencer le quiz">
	</article>
	<article id="createQuestionQcm">
		<h3 id="questionTilte"></h3>
	</article>
	<input type="button" id="suivantQcm" value="valider" aria-label="valider votre réponse">
</section>

<template id="templateQcm">
	<form class="formQcm">
		<input class="check" type="checkbox" name="" value="">
		<label class="checkAnswer" for=""></label>
	</form>
</template>

