<section>
	<h1 id="titreH1Q">Créer votre QCM</h1>
	<article class="createOneQuiz">
		<h2>Le nom de votre QCM</h2>
		<form name="createQuiz" id="createQuiz">
			<label for="nameQCM">Le nom de votre quiz</label>
			<input type="text" name="nameQCM" id="nameQCM">
			<label for="descQCM">Description de votre quiz</label>
			<input type="text" name="descQCM" id="descQCM" placeholder="Petit QCM sur la création de QCM (facile)">
			<input type="button" id="saveQuiz" value="Creer votre QCM">
		</form>
	</article>
</section>
<section id="createQuestion">
	
</section>
<template id="templateQuestion">
	<article>
		<h2 id="qcmName"></h2>
		<h3 id="qcmDesc"></h3>
		<form>
			<fieldset>
				<legend>Votre question</legend>
				<label class="question_title" for="question">
					Entrer la question
				</label>
				<input type="text" name="question" id="question">
			</fieldset>
		</form>
	</article>
	<article id="createAnswer">
		
	</article>
	<div class="buttonGroup">
		<input type="button" id="addAnswer" value="Ajouter une réponse">
		<input type="button" id="removeAnswer" value="supprimer la réponse">
		<input type="button" id="validateQuestion" value="Créer une autre Question">
		<input type="button" id="validateQuiz" value="Enregistrer le quiz">
	</div>
</template>
<template id="templateAnswers">
	<form class="formAnswer" id="">
		<fieldset>
			<legend class="answerTilte"></legend>
			<label class="answerTexte" for="">

			</label>
			<input class="answer" type="text" name="" id="">
			<input class="checkT" type="radio" name="" id="" value="true" checked> <label class="true" for="">Bonne réponse</label>
			<input class="checkF" type="radio" name="" id="" value="false"> <label class="false" for="">Mauvaise réponse</label>
		</fieldset>
	</form>
</template>
